# App
ENV=development
BULL_PREFIX=bull

# Worker
WORKER_CONCURRENCY=5

# Redis
REDIS_MAXMEM=256mb

# Cloudflare Tunnels
# สร้าง 2 Tunnels บน CF Dashboard:
#   1) api.dev.example.com   → http://api:3000
#   2) queue.dev.example.com → http://bull-board:3000
CF_TUNNEL_TOKEN_API=
CF_TUNNEL_TOKEN_BOARD=
